@using System.Web.Optimization

<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Loja Razor</title>

    @Styles.Render("~/Content/css")
</head>
<body>
    @Html.Partial("_MenuSuperior")
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                @Html.Action("Index", "Menu")
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>
    @RenderSection("Scripts", false)
</body>
</html>
