<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Loja Razor</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Style.css" rel="stylesheet" />
</head>
<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                @Html.ActionLink("Loja Razor", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Sobre", "About", "Home")</li>
                <li>@Html.ActionLink("Contato", "Contato", "Home")</li>
            </ul>
            <p class="navbar-text navbar-right">
                @if (Session["usuarioLogado"] != null)
                {
                    @:Bem-Vindo @Session["usuarioLogado"] @Html.ActionLink("Logout", "Logout", "Autenticacao")
                    }
                else
                {
                    @:Olá Visitante @Html.ActionLink("Login", "Index", "Autenticacao") ou @Html.ActionLink("Cadastre-se", "Form", "Usuarios") &nbsp;
                    }
            </p>
        </div>
    </nav>





    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                @Html.Action("Index", "Menu")
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
