@using Site.Resources

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            @Html.ActionLink("Loja Razor", "Index", "Home", null, new { @class = "navbar-brand" })
        </div>
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink(Mensagens.Sobre, "About", "Home")</li>
            <li>@Html.ActionLink(Mensagens.Contato, "Contato", "Home")</li>

            <li><a href="@Url.Action("SetCulture", "Home", new { culture = "pt-BR" })">Português</a></li>
            <li><a href="@Url.Action("SetCulture", "Home", new { culture = "en" })">English</a></li>
            <li><a href="@Url.Action("SetCulture", "Home", new { culture = "es" })">Español</a></li>

        </ul>
        <p class="navbar-text navbar-right">
            @if (Session["usuarioLogado"] != null)
            {
                @Mensagens.BemVindo @Session["usuarioLogado"] @Html.ActionLink(Mensagens.Logout, "Logout", "Autenticacao")
            }
            else
            {
                @Mensagens.OlaVisitante @Html.ActionLink(Mensagens.Login, "Index", "Autenticacao") @Mensagens.Ou @Html.ActionLink(Mensagens.CadastreSe, "Form", "Usuarios") @:&nbsp;
            }
        </p>
    </div>
</nav>

